---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <h4>About Mobile Automators.</h4>
            <p>Mobile test Automation is in it’s infancy and information about it is scarse. It's hard to find talks, articles or even tech blog posts on "how we approach it". When in trouble - who do you turn to ask a question?</p>
            <p>That’s where Mobile Automators comes in. A community for anyone doing or getting into Mobile Test Automation to share, discuss and network. We are not funded nor representatives of any commercial organization. Our content is purely meant to serve it's members.</p>
            <p>Browse the talks from <a href="/events">previous events</a>, register for an <a href="/upcoming">upcoming one</a> or even <a href="/suggest">suggest a talk</a> of your own.</p>

            <p><strong>Wait, why is it all in Hebrew?!</strong><br />Well, it is a community set in Israel and we speak Hebrew amongst ourselves. Slides and site are in English but videos are Hebrew. Let me know if you want translation in those.</p>
        </div>
        <div class="col-lg-6">
            <h4>The Team</h4>
            {% for member in site.members %}
            <div class="col-lg-6 col-md-4 col-sm-4" role="member">
                <img src="{{ "/assets/img/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <h4>{{ member.name }}</h4>
                <h5 class="ctitle">{{ member.position }}</h5>
                <p>{{ member.text }}</p>


                {% for entry in member.social %}
                    <a href="{{ entry.url }}"><i class="fa fa-{{ entry.title }}"></i></a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

