<div role="tba" id="upcoming">
  <h1>Upcoming Event</h1>
  <div class="row">
    <h4>Yet To Be Announced</h4>
    <p class="join">
      <a href="http://www.meetup.com/Mobile-Automators-Israel/" target="_blank" class="btn btn-primary">Join Us</a> to get a notified the minute it's up</a>
    </p>
    <p class="contact">
      Want to be our next speaker? <br />
      Got ideas for the upcoming events? <a href="mailto:ran@ranbena.com" class="btn btn-secondary">Contact me</a>
    </p>
  </div>
</div>
