---
layout: style
---

.clearfix:before,.clearfix:after {
  content:" ";
  display:table
}
.clearfix:after {
  clear:both
}
.clearfix {
  *zoom:1
}

a {
  transition: none;
}

.float_right {
  float: right;
}
img.left_margin {
  margin-left: 20px;
}
img.right_margin {
  margin-right: 20px;
}
img.top_margin {
  margin-top: 20px;
}
img.bottom_margin {
  margin-bottom: 20px;
}

ol {
  padding-left: 18px;
}

.navbar-default {
  background-color: {{ site.colors.nav }};
}
.navbar-brand {
  font-family: 'Changa One', cursive;
}
.navbar-brand:hover {
  color: {{ site.colors.primary }} !important;
}

#headerwrap {
  background-color: {{ site.colors.secondary }};
}
#headerwrap h1 .btn {
  padding: 6px 10px 7px;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: none;
  position: relative;
  top: -3px;
}

.btn {
  border: none;
}
.btn-primary,
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #F47368;
  box-shadow: 1px 1px 0 #64C2BF;
  color: white;
}
.btn-secondary,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #4BC1BC;
  box-shadow: 1px 1px 0 #354754;
  color: white;
}

talk {
  border-top: 1px solid #eeeeee;
  display: block;
  margin-top: 20px;
  padding-top: 30px;
}
talk:first-of-type {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
talk h4 {
  color: {{ site.colors.secondary }};
}
talk speaker {
  color: {{ site.colors.footer_content }};
}
talk img {
  float: left;
  margin: 0 10px 10px 0;
  width: 238px;
  height: 153px;
}
talk p {
  max-width: 690px;
}


div[role="sidebar"] h4 {
  border-bottom: 2px solid #345770;
  margin-bottom: 0px;
}
div[role="sidebar"] p {
  margin-bottom: 50px;
}
div[role="sidebar"] talk {
  margin-top: 0px;
  padding-top: 10px;
  border: none;
}
div[role="sidebar"] talk img{
  width: 140px;
  height: auto;
}


#featured {
  margin-top: 60px;
  margin-bottom: 80px;
}
#featured h1 {
  margin-bottom: 40px;
}
.row {
  margin: 0;
}

div[role="member"] .fa {
  font-size: 25px;
  margin-right: 7px;
}

div[role="tba"] {
  background-image: url(/assets/img/pattern.png);
  background-color: #00b3fe;
  padding: 80px;
}
div[role="tba"] h4 {
  font-size: 40px;
  margin-bottom: 80px;
  color: white;
}
div[role="tba"] p,
div[role="tba"] .btn-primary {
  font-size: 30px;
  color: white;
  position: relative;
  top: -4px;
}
div[role="tba"] .btn-primary {
  font-size: 30px;
  box-shadow: 1px 1px 0 #354754;
}
